@use "../styles/variables" as v;

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  height: calc(100dvh - 240px);
  .mainComponent {
    display: flex;
    flex-direction: column;
    font-family: v.$primary-font;
    color: white;
    padding: 1rem;
    border: 1px solid white;
    gap: 1rem;
    .generalInformation {
      text-align: center;
      line-height: 2.5rem;
      margin-bottom: 0.5rem;
    }
    .todayWeatherInformation {
      display: flex;
      gap: 2rem;
      .mainInformation {
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 0.25rem;
        border-right: 1px solid white;
        padding: 1rem;
        //main weather situation + its icon
        h1 {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          font-size: 3.25rem;
          margin-bottom: 0.5;
        }
      }
      .secondaryInformation {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr 1fr;
        gap: 1rem;
        padding: 1rem;
        & > div {
          h3 {
            display: flex;
            align-items: center;
            gap: 0.1rem;
          }
        }
      }
    }
  }
  .futureWeatherInformation {
    color: white;
    & > div {
      display: flex;
      align-items: center;
      gap: 1rem;
      justify-content: space-between;
      font-family: v.$primary-font;
    }
  }
}

.secondaryText {
  opacity: 0.6;
}
