@use "../../styles/variables" as v;

.footer {
  height: 60px;
  border-top: 1px dotted white;
  display: flex;
  color: white;
  justify-content: space-evenly;
  align-items: center;
  font-family: v.$title-font;

  //to center the links and icon
  h3 {
    display: flex;
    align-items: center;
    gap: 0.3rem;
  }
  //reset the styling for the link components
  a {
    color: inherit;
    opacity: 0.6;
    text-decoration: inherit;
  }
}

@media (max-width: 900px) {
  .footer {
    flex-direction: column;
    height: auto;
    padding: 1rem 0;
    gap: 1.25rem;
  }
}
